<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/datetime-moment.js"></script>

</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Aspnet Core Reliability
      </a>               
    </div>
      <p class="navbar-text"><a href="/" class="navbar-link">Issues</a></p>
       <p class="navbar-text"><a href="/team" class="navbar-link">Team Status</a></p>
       <p class="navbar-text"><a href="http://microsoft.sharepoint.com/teams/aspnet/ProjectK/Shared%20Documents/Performance" target="_blank">Docs</a></p>
        <p class="navbar-text"><a 
        href="https://msit.powerbi.com/groups/me/dashboards/e2f24e5d-da33-40b9-8f15-7e48b9ec31f9" target="_blank">Report</a>
  </div>
</nav> 
    
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-form">
                <div class="form-group">
                    <div class="input-group" style="display:table;">
                        <span class="input-group-btn" data-toggle="buttons" style="width: 1%;">
                          <label class="btn btn-default">
                             <input type="checkbox" autocomplete="off" id="global_regex"><code>(*.)</code>
                        </label>                       
                        </span>
                        <input type="text" class="form-control global_filter" placeholder="Search" class="" id="global_filter" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </nav>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Repo</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Assigned To</th>
                    <th>Milestone</th>
                    <th>Labels</th>
                    <th>Updated</th>
                </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function() {
    $.fn.dataTable.moment();    
    $('#example').DataTable( {        
        "ajax": "/api/issues",    
        "sDom" :'<"H"lr>t<"F"ip>',  
         columns: [
            { "data": "repo" },
            { "data": "title" },
            { "data": "url",
              "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).html("<a target='_blank' href='"+oData.url+"'>"+oData.number+"</a>");
              }
            },                        
            { "data": "assignee" },
            { "data": "milestone" },            
            { "data": "labels",
              "width" :"10%",
              "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                  var html=''
                  for(var index = 0; index < oData.labels.length; index++)
                    html = html +  "<p><span class='label label-default label-xs issue-label'>" + oData.labels[index]+ "</span></p>";
                  $(nTd).html(html);
              }
            },
            {"data": "updated_at",
               "fnCreatedCell": function (nTd, sData, oData, iRow, iCol){
                   $(nTd).html("<span>" + moment(oData.updated_at).format("MM-D-YY") + "</span>");
               }
            }   
         ]
    } ).columnFilter();
});

function filterGlobal () {
    $('#example').DataTable().search(
        $('#global_filter').val(),
        $('#global_regex').prop('checked'),
        !$('#global_regex').is(':checked')
    ).draw();
}

    $('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    } );
    </script>
</body>