body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.label-as-badge {
    border-radius: 1em;
}

.issue-label{
    background-color:#eeeeee;
    color:#666;
    font-weight: lighter;
    border:1px solid #cfcfcf;
    padding:1px;
}